@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    visibility: hidden;
}

.inactive-tab{
    visibility: hidden;
}

.active-tab{
    visibility: visible;
}

textarea,input:focus{
    outline: none;
}